article.phonebook {
  -webkit-column-width: 200px;
  -moz-column-width: 200px;
  column-width: 200px;
}

article.phonebook div {
  display: flex;
  justify-content: space-between;
}

article.phonebook p {
  margin: 0;
}

article.phonebook div p:first-of-type {
  font-weight: bold;
}

article.phonebook div p:last-of-type {
  text-align: right;
}

div.progress {
  width: 500px;
}

@media print {
  .nav>li:not(.active) {
    display: none !important;
  }
}
